.tw-Card {
  overflow: hidden;
  display: flex;
  color: #fff;
  justify-content: space-between;
}

.tw-Card-header {
  display: flex;
  align-items: center;
}
.tw-Card-header-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 5px;
}
.tw-Card-header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tw-Card-header-name {
  font-weight: bold;
}

.tw-Card-header-username {
  color: #aaa;
}

.tw-Card-aside {
  padding: 0px 16px;
  place-content: center;
}

.tw-Card-aside-button {
  font-weight: 800;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 6px 12px;
  color: #000000;
  cursor: pointer;
  transition: 0.3s ease all;
}
.tw-Card-aside-button:hover {
  background: #1da1f2;
  border: 2px solid #1da1f2;
  color: #fff;
}
.tw-Card-aside-button.is-following:hover {
  background: #f568683a;
  border: 2px solid #630101;
  color: #fff;
}
.tw-Card-aside-button.is-following {
  background: #f5686800;
  border: 2px solid #fff;
  color: #fff;
  width: 140px;
}
.tw-Card-aside-button.is-following:hover .tw-Card-aside-button-text {
  display: none;
}

.tw-Card-aside-button.is-following:hover .tw-Card-aside-button-stopFollow {
  display: block;
}
.tw-Card-aside-button-stopFollow {
  display: none;
}
